body {
    margin: 0;
    padding: 0;
    background-color: #999999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editorAndPluginVersionInfo {
    z-index: 1041;
    position: fixed;
    background-color: black;
    bottom: 0;
    border-radius: 0.437rem 0.437rem 0 0;
    margin-left: 0.312rem;
    padding: 0 1rem;
}

#editorAndPluginVersionInfo > span {
    color: rgb(175, 175, 175);
    font-size: 0.75rem;
}

#versionsDivider {
    margin: 0 0.3rem;
}

.pureInput {
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
}

#particleImagePreviewDiv {
    width: 2rem;
    height: 2rem;
    float: right;
    padding: 3px;
}

#particleImagePreview {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: contain
}

#modalProjectInfo {
    margin-top: 2vh;
    display: none;
}

.link, a, span, i {
    color: black;
    text-decoration-color: black;
}

.link:hover, a:hover, span:hover, i:hover {
    color: black;
}

.nav-border {
    outline-width: 0.062rem;
    border-width: thick;
}

/*Main Containers*/
div#sandboxContainer {
    width: 75vw;
    position: fixed;
    height: 100vh;
}

div#controlsContainer {
    background-color: #fafafa;
    width: 25%;
    float: right;
    visibility: hidden;
}

div.container-fluid {
    padding: 0.312rem
}

::-webkit-scrollbar {
    display: none;
}

.modal-body {
    padding-left: 1vw;
    padding-right: 1vw;
}

#createSandboxModal .col-md-12 {
    margin-bottom: 1vh;
}

.hidden {
    display: none;
}

.no-padding {
    padding: 0;
}

/*Top Buttons*/
.main-buttons .btn {
    flex: 1;
}

.btn-group.main-buttons {
    display: flex;
}

.btn-group.main-buttons > a {
    padding: 0.6vh;
}

.btn-group.main-buttons > a > span {
    font-weight: 600;
    font-size: 0.9rem;
}

/*Navigation Panel*/
.emitterTabContainer {
    margin-top: 1vh;
    margin-bottom: 0.062rem;
}

fieldset {
    border: 0.062rem solid #ddd !important;
    margin: 0.5rem 0 0.5rem 0;
    xmin-width: 0;
    padding: 0 0.625rem 0 0.625rem;
    position: relative;
    border-radius: 0.25rem;
    background-color: #f5f5f5;
}

fieldset > fieldset > legend {
    font-size: 0.75rem;
}

fieldset > fieldset > fieldset > legend {
    font-size: 0.687rem;
}

legend {
    font-size: 0.812rem;
    font-weight: bold;
    width: auto;
    border: 0.062rem solid #ddd;
    border-radius: 0.25rem;
    padding: 0.125rem 0.625rem 0.187rem 0.625rem;
    background-color: #ffffff;
}

/*Accordion*/
.accordion {
    margin-top: 0.5rem;
}

.accordion .card-header {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.accordion .card-header > p > a {
    font-size: 1.125rem;
    color: black;
}

.accordion .card-header > p > a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
}

.accordion .card-header > p > a.collapsed:after {
    content: "\f067";
}

.card-block > .col-md-12 {
    padding: 0.5vw;
}

.option {
    margin-bottom: 0.625rem;
}

div.dropdown > a {
    background-color: #E9ECEF;
    border-color: #C9CCCF;
}

label.custom-file {
    width: 100%;
}

input.btn-secondary {
    width: 100%;
    border-radius: 0.187rem;
}

.btn {
    cursor: pointer;
}

.btn-file {
    width: 100%;
}

.close {
    border-width: 0.625rem;
    border-radius: 1vh;
}

#removeBgImage {
    width: 100%;
}

#projectName {
    margin-top: 1vh;
}

.nav-tab-dropdown {
    display: inline
}

.nav-tab-dropdown-btn {
    padding: 0.3rem;
    background: none
}

.dropdown-menu {
    min-width: 0px;
}

.dropdown-menu > i {
    padding: 0.3rem 0.5rem;
}

.dropdown-menu > i > span {
    margin-left: 10px;
}
.nav-tab-icons-divider {
    margin-left: 0.25rem;
}